@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@300&display=swap');

:root {
    --clr-primary: #f6f3f4;
    --clr-secondary: #63dfbe;
    --clr-bkg-primary: #2b5257;
    --clr-light-accent: #90a698;
    --clr-dark-accent: #a4806e;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Kanit', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: var(--clr-bkg-primary);
    color: var(--clr-primary);
    font-family: var(--font-primary);
    font-weight: 300;
}

/* header, nav and logo */

h1,
h2 {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    letter-spacing: 1px;
}

#logo {
    float: left;
    font-size: 260%;
}